@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito";
}

@media (min-width: 450px) {
    .container {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .message {
        display: flex;
        justify-content: center;
    }
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}

h3 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

a {
    padding-right: 20px;
}